.form-container
{
    &.card-form-container
    {
        .form-control
        {
            flex: 1 0 20%;
            vertical-align: middle;
            align-items: center;
            padding-top: 0.25rem;

            > div
            {
                width: 100%;
            }

            &.align-items-baseline
            {
                align-items: baseline;
            }
        }
    }
}
