@import './variables';

.form-container
{
    &.card-form-container
    {
        .form-control
        {
            flex: 1 0 20%;
            vertical-align: middle;
            align-items: center;

            > div
            {
                width: 100%;
            }
        }
    }
}
